<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="stayMapper">
	
   <!-- 호텔 리스트 select -->
  <select id="hotelList"  resultType="kr.co.dto.StayDTO">
  	select * from staytbl order by stayregion
  </select>
  
   <select id="hotelDetail"  resultType="kr.co.dto.StayDTO">
  	select * from staytbl  where staynum = #{staynum}
   </select>
  
  <select id="getRooms"  resultType="kr.co.dto.StayDTO">
  	select ko_room.* from ko_room, staytbl where ko_room.staynum = #{staynum} order by ko_room.roomname
  </select>
  
  <select id="regionHotel"  resultType="kr.co.dto.StayDTO">
  	select * from staytbl where stayregion = #{stayregion}
  </select>
  
  <insert id="reservation" >
  	insert into hotel_book (book_num, book_product, book_checkin, book_checkout, id, s_num, name, phone) values ((select nvl(max(book_num),0)+1 from hotel_book), #{book_product}, #{book_checkin}, #{book_checkout}, #{id}, #{s_num}, #{name}, #{phone})
  </insert>
</mapper>